@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: aliceblue;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 35px;
}

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.803);
}

.loader > img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    height: 10rem;
}

.image-container {
    margin: 10px 5%;
}

img {
    height: 90vh;
    width: 90vw;
    object-fit: contain;
    margin-top: 5px;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 16px;
        margin: 10px 8px;
    }
    .image-container {
        margin: 10px;
    }
    img {
        width: 350px;
        height: 350px;
        object-fit: cover;
    }
}